*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
}
body
{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;    
}
h1
{
    font-size: 10rem;
    overflow: hidden;
}
h1 span
{
    display: inline-block;
}