*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
}
body
{
    overflow-x: hidden;
}
.page1
{
    width: 100%;
    height: 100%;
    background: #cc78ccf1;
}
.page2
{
    width: 100%;
    height: 100%;
    background: #9AC1CB;
}
.page2 h1
{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 600;
}
.page3
{
    width: 100%;
    height: 100%;
    background: #E7CFB1;
}